/* layout classes-rules */

* {
  margin: 0;
}

/* flex classes-rules */
.flex {
  display: flex;
}
.flex.col {
  flex-direction: column;
}
.flex.row {
  flex-direction: row;
}

/* alignment classes-rules */
.ac-center {
  align-content: center;
}
.ac-fs {
  align-content: flex-start;
}
.ac-fe {
  align-content: flex-end;
}
.ac-sb {
  align-content: space-between;
}
.ac-sa {
  align-content: space-around;
}
.ac-se {
  align-content: space-evenly;
}
.ac-stretch {
  align-content: stretch;
}

.ai-center {
  align-items: center;
}
.ai-fe {
  align-items: flex-end;
}
.ai-fs {
  align-items: flex-start;
}
.ai-fs {
  align-items: flex-start;
}

/* justify classes-rules */
.jc-fe {
  justify-content: flex-end;
}
.jc-fs {
  justify-content: flex-start;
}
.jc-center {
  justify-content: center;
}
.jc-sa {
  justify-content: space-around;
}
.jc-sb {
  justify-content: space-between;
}
.jc-se {
  justify-content: space-evenly;
}
.jc-stretch {
  justify-content: stretch;
}


.gap-0 {
  grid-gap: 5px;
}
.gap-1 {
  grid-gap: 10px;
}
.gap-2 {
  grid-gap: 15px;
}




/* style rules */
.parallax {
  background-image: url(./assets/pexels-photo-933054.webp);

  min-height: 350px;
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.normal {
  background-color: grey;
  height: 600px;
}
