

@media screen and (min-width: 576px) {
  .grid-container {
    display: grid;
    grid-template-columns: 95%;
    grid-template-rows: repeat(2, 60px) repeat(2, 120px) repeat(3, 100px);
    grid-template-areas:
      "Header"
      "Menu"
      "Hero"
      "Main"
      "Banner"
      "Extra"
      "Image";
  }
}

@media screen and (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 60px 250px 250px 125px 125px;
    grid-template-areas:
      "Header Header Header"
      "Hero Hero Hero"
      "Menu Main Main"
      "Menu Banner Banner"
      "Menu Extra Image";
  }
}

@media screen and (min-width: 992px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 60px 300px repeat(3, 120px);
    grid-template-areas:
      "Header Menu Menu Menu"
      "Hero Hero Hero Hero"
      "Main Main . Image"
      "Main Main . Extra"
      "Banner Banner Banner Banner";
  }
}

.header {
  grid-area: Header;
  background-color: black;
}

.menu {
  grid-area: Menu;
  background-color: red;
}

.hero {
  grid-area: Hero;
  background-color: blue;
}

.main {
  grid-area: Main;
  background-color: grey;
}

.banner {
  grid-area: Banner;
  background-color: yellow;
}

.extra {
  grid-area: Extra;
  background-color: green;
}

.image {
  grid-area: Image;
  background-color: aqua;
}

.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.gap-2 {
  gap: 12px;
}
